:root {
    --bg-dark: #1e1e1e;
    --font-lato: 'Lato', sans-serif;
    --font-game: 'Odibee Sans', cursive;
    --font-arcade: 'Press Start 2P', cursive;
}

body {
    background-color: var(--bg-dark);
    font-family: var(--font-arcade) !important;
}

#app_header {
    height: 11.25rem;
    background-color: white;
}

#app_main .wrapper {
    max-width: 1140px;
}

.col_my {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 2px solid white;
}

#app_footer {
    height: 7.5rem;
    background-color: white;
}

.active {
    background-color: lightblue;
}